@font-face{
src: url('../fonts/gilroyextrabold.woff2');
src: url('../fonts/gilroylight.woff2');
}

body {
margin: 0;
padding: 0;
min-width: 1440px;
font-size: 15px;
line-height: 30px;
font-family: "Open Sans", "Arial", Sans-serif;
color: black;
background-color: white;
}

.wrapper {
width: 1160px;
margin: 0 auto;
}

.main-header {
display: flex;	
min-height: 299px;
margin-top: 40px;
color: black;	
background-color: #f7e296;
}

.start {
padding-left: 60px;
padding-top: 50px;
}

.header-logo {
position: absolute;
top: 20px;	
}

.catalog {
margin-top: 49px;	
}

.user-navigation,
.site-navigation {
list-style: none;
display: flex;	
}

.user-navigation li,
.site-navigation li {
margin: 0;
padding: 0;
margin-top: 49px;
}

.catalog,
.site-navigation {
font-family: "Gilroy","Arial",Sans-serif;
font-weight: bolder;
font-size: 18px;
line-height: 24px;
letter-spacing: 2px;	
}

.user-navigation a,
.site-navigation a,
.catalog a {
text-decoration: none;
color: black;	
}

.site-navigation li,
.catalog {
text-transform: uppercase;
}

.user-navigation a:hover,
.site-navigation a:hover,
.catalog a:hover {
	opacity: 0.6;
}

.user-navigation a:active,
.site-navigation a:active,
.catalog a:active {
opacity: 0.3;
}

.slide-1,
.slide-2,
.slide-3 {
display: flex;
width: 1160px;	
margin: 0 auto;
margin-top: -100px;
}

.slide-image {
display: flex;	
width: 600px;	
}

.slide-image img {
margin: 0 auto;
}

.slide-item h2{
font-family: "Gilroy", "Arial", Sans-serif;
font-weight: bolder;
font-size: 47px;
line-height: 56px;
}

.slide-item th {
font-family: "gilroylight", "Arial"	, Sans-serif;
font-weight: lighter;
font-size: 36px;
line-height: 48px;
text-align: left;
}

.slide-item td {
font-size: 13px;
line-height: 20px;
font-weight: lighter;
}

.slide-item td,
.slider-item th {
margin: 0;
padding: 0;
padding-right: 80px;
padding-bottom: 20px;	
}

.goods-list {
display: flex;
justify-content: space-between;
margin-bottom: 84px; 	
list-style: none;
}

.goods-item {
width: 160px;
height: 250px; 	
}

.goods-item a {
color: black;
text-decoration: none;	
}

.goods-item h4 {
font-family: "Gilroy","Arial",Sans-serif;
font-weight: bolder;
font-size: 18px;
line-height: 24px;	
}

.goods-item:nth-child(2) img {
	margin-bottom: 0;
}

.item-bg {
display: flex;
background-color: #f7e296;
width: 160px;
height: 160px;	
}

.item-bg img {
margin: auto;	
}

.partners-list {
display: flex;
margin-bottom: 93px;
list-style: none;
}

.about {	
width: 485px;
height: 565px;	
}

.contacts {
width: 565px;
height: 565px;	
}

.about-contacts h2 {
font-family: "Gilroy","Arial",Sans-serif;
font-weight: bolder;
font-size: 47px;
line-height: 48px;	
}

.company-list {
list-style: none;	
}

.company-list li {
font-family: "Gilroy","Arial",Sans-serif;
font-weight: 1000;	
}

.main-footer {
margin-top: 93px;	
background-color: #464646;
color: white;	
}

.main-footer .site-navigation a,
.main-footer .user-navigation a{
color: inherit;
}

.footer-social {
list-style: none;
}

.button {
font-family: "Gilroy","Arial",Sans-serif;
font-weight: bolder;
text-decoration: none;
text-transform: uppercase;
color: black;	
border: none;
background: none;
}

.form-group label,
.feedback-form label {
font-family: "Gilroy","Arial",Sans-serif;
font-weight: bolder;
font-size: 18px;
line-height: 24px;	
}

.form-group input[type="text"],
.form-group input[type="email"],
.feedback-form textarea {
font: inherit;
background-color: #f2f2f2;
color: #adadad;
border: none;	
}

.form-group input[type="text"]:hover,
.form-group input[type="email"]:hover,
.feedback-form textarea:hover {
background-color: #eaeaea;
opacity: 0.4;
}	

.form-group input[type="text"]:focus,
.form-group input[type="email"]:focus,
.feedback-form textarea:focus {
background-color: #ffffff;
color: #464646;
border: 3px solid #f7e296;
}